# Python cache files
__pycache__/
*.py[cod]

.env

.ipynb_checkpoints

venv/
env/
ENV/
.venv/
.Python

.cache
.pytest_cache/

coverage.xml
*.cover
*.py,cover
.coverage
htmlcov/

.mypy_cache/
.dmypy.json
dmypy.json

.vscode/

.idea/

*.log
*.pot
*.pyc
*.pyo
*.pyd

*.xlsx
